.app {
    color: #191414;

    header {
        width: 100%;
        background-color: #191414;
        color: #ffffff;

        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.5rem;

            @media screen and (min-width: 1200px) {
                max-width: 1024px;
                margin: 0 auto;
            }
        }

        img {
            width: 100px;
        }
        a {
            color: #fff;
        }
    }

    main {
        .wrapper {
            padding: 2rem;
        }

        .authenticate {
            display: flex;
            justify-content: center;

            h2 {
                margin: 5rem;
            }
        }

        @media screen and (min-width: 1200px) {
            max-width: 1024px;
            margin: 0 auto;
        }
    }
}
